<div class="static_home">
    <h1 id="static_home_title">LOGICCS</h1>
    
    <h2 id="static_home_title2">LOGI-stic C-ost C-ontrol S-ystem</h2>
    <style type="text/css">
        body { background: darkred; }
    </style>
</div>

<%= link_to "List", list_path, class:"btn btn-danger" %>

<footer>
    <p>&copy; 2017 HOSOYA INTERNATIONAL CO., LTD. THAILAND.</p>
</footer>