
<div class="col-lg-offset-3 col-lg-6 white">
    
    
    <h4>OrderNo# <%= @sendbook.name %>,</h4>
    
    <h4>Approvement is canceled</h4>
    
    
    <h3>If you have any question, Please contact to Mr.Hosoya with click below</h3>
    
    <a href="mailto:<%= ENV['ADMINMAIL'] %>" class="btn btn-info">Send Mail to Administorator</a>
    
  
</div>