<h1>Admin SetUser</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <div class="logiccs_table"> 
      <table class="table table-striped">
      <% @companys.each do |com| %>
        <% users = com.users %>
            <% users.each do |user| %>
             <tr>
                 <td><%= user.id %></td>
                 <td><%= user.company.name_j %></td>
                 <td><%= link_to user.name, admin_setuser_user_path(user.id), class:'btn btn-xs btn-block btn-primary' %></td>
             </tr>
      
      
        <% end %>  
      <% end %>
      </table>
      
      </div>
      
  </div>
</div>