@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

/*HPヘッダーから、中央の文字までの距離*/
body {

}

.application_yield h2 {
    color: #ccc;
}

div.static_home {
     padding-top: 120px;   
}

div.application_yield {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

/*HPフッターから、中央の文字までの距離*/
.center h1 {
    margin-bottom: 10px;
}

/* typography */

/* 本文中の行間 */
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia; 
    line-height: 1;
}

h1#static_home_title {
    font-size: 7em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
    color: #ffd700;
}

h2#static_home_title2 {
    font-size: 4em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #ffd700;
}

footer {
    padding: 20px 0;
    font-size: 93%;
    text-align: center;
    color: #ffd700;
}

p { 
    font-size: 1.1em;
    line-height: 1.7em;
}

.width100 {
    width: 100%;
    display: inline-block;
}

/* header */

#logo {
    font-family: Georgia;
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #ffd770;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px; 
    font-weight: bold;
}

#logo:hover {
    font-family: Georgia;
    color: #fff;
    text-decoration: none;
}

/*mixins, variables, etc. */

$gray-midium-light: #eaeaea;

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

/* forms */

input, textarea, select, .unditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation {
    color: red;
    ul {
     color: red;
     margin: 0 0 30px 0;
    }
}
.field_with_errors {
 @extend .has-error;
 .form-control {
     color: $state-danger-text;
 }
}

body {
    background-color: darkred;
}

.logiccs_table {
    background-color: darkred;
    color: #fff;
}

.logiccs_table table {
    background-color: lightsalmon;
    color: #000;
}

.logiccs_table table.table-bordered {
    border: 5px outset #f88;
}

/* karte table */

.kartetable {
 overflow: auto;
 width: 100%;
 height: 300px;
}

.notebox {
    min-height: 270px;
}

.white {
    color: #fff;
}

.label {
    font-weight: normal;
}

body.vehicle_kartes_booking {
    background-color: #ffe;
}

ul.dealeruser {
    list-style: none;
    
    font-size: 2.0rem;
}